.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0px 5%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-title h1 {
    margin: 0;
    color: #333;
    font-weight: 700;
}

.login-title p {
    color: #777;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #f4f6f8;
    border-radius: 12px;
    padding: 10px 14px;
    margin-bottom: 15px;
}

.input-group ion-icon {
    font-size: 20px;
    color: #666;
    margin-right: 10px;
}

.input-group ion-input {
    --padding-start: 0;
    font-size: 15px;
}

.login-button {
    margin-top: 20px;
    --border-radius: 12px;
    --background: linear-gradient(135deg, #4facfe, #00c6ff);
    font-weight: 600;

}

.login-footer {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}